<% include ../layouts/header.ejs %>
<h1> Request's History</h1>
<table>
  <thead>
    <tr>
      <th>Requested by</th>
      <th>Date of request</th>
      <th>First date of holiday</th>
      <th>Last date of holiday</th>
      <th>Duration</th>
      <th>Status</th>
      <th>Undo</th>
    </tr>
  </thead>
  <tbody>
    <% bookings.forEach(function(booking){ %>
      <tr>
        <td><%= booking.name %></td>
        <td><%= moment(booking.dateOfRequest).format('MMM Do YYYY') %></td>
        <td><%= moment(booking.startDate).format('MMM Do YYYY') %></td>
        <td><%= moment(booking.endDate).format('MMM Do YYYY') %></td>
        <td><%= booking.totalDays %></td>
        <td class="<%= booking.status %>">
          <span><%= booking.status %></span>
        </td>
        <td>
          <% if(moment(booking.startDate).diff(moment(), 'days')>= 0){ %>
            <a href="/bookings/undo/<%= booking._id %>">Undo action</a>
            <% }else{ %>
              <div class="tooltips"> - 
                <span class="tooltiptext">This request is too old to undo</span>
              </div>
            <% } %>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>

<% include ../layouts/footer.ejs %>