<% include ../layouts/header.ejs %>
<h1> All Requests</h1>
<% if(bookings.length > 0) { %>
<table>
  <thead>
    <tr>
      <th>Requested by</th>
      <th>Date of request</th>
      <th>First date of holiday</th>
      <th>Last date of holiday</th>
      <th>Duration</th>
      <th>Director 1 approval</th>
      <th>Director 2 approval</th>
    </tr>
  </thead>
  <tbody>
    <% bookings.forEach(function(booking){ %>
      <tr>
        <td><%= booking.name %></td>
        <td><%= moment(booking.dateOfRequest).format('MMM Do YYYY') %></td>
        <td><%= moment(booking.startDate).format('MMM Do YYYY') %></td>
        <td><%= moment(booking.endDate).format('MMM Do YYYY') %></td>
        <td><%= booking.totalDays %></td>
        <td>
          <% if(booking.authorisation1 === false){ %>
          <form action="/bookings/approval/1" method="post">
            <input type="hidden" name="id" value="<%= booking._id %>">
            <input type="submit" value="Approve">
          </form>
          <form action="/bookings/reject/1" method="post">
            <input type="hidden" name="id" value="<%= booking._id %>">
            <input type="submit" value="Reject">
          </form>
          <% }else{ %>
            <a href="/bookings/decision/<%= booking._id %>/1">True</a>
          <% } %>
        </td>
        <td>
         <% if(booking.authorisation2 === false){ %>
          <form action="/bookings/approval/2" method="post">
            <input type="hidden" name="id" value="<%= booking._id %>">
            <input type="submit" value="Approve">
          </form>
          <form action="/bookings/reject/2" method="post">
            <input type="hidden" name="id" value="<%= booking._id %>">
            <input type="submit" value="Reject">
          </form>
          <% }else{ %>
            <a href="/bookings/decision/<%= booking._id %>/2">True</a>
          <% } %>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
<% }else{ %>
  <h3>There are no holiday requests at the moment...</h3>
<% } %>

<% include ../layouts/footer.ejs %>